.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.sct-app {
    background-color: #0d0d0d;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: white;
}
.sct-home{
    display: flex;
    flex-flow: row wrap;
}
.App-link {
    color: #61dafb;
}
.home{
    display: flex;
   flex-flow: row wrap;
   width: 95%;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.sct-lastSearch{
 width: 70%;
}
.sct-trendingSercher{
 width: 30%;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .home{
      display: flex;
      flex-direction: column;
       width: 95%;
       
    }
    .sct-lastSearch{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
       }
       .sct-trendingSercher{
        width: 100%;
       }
}